
    body {
        font-family: Arial, sans-serif;
        background-color: darkslategray;
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
     .calculator {
        background: transparent;
        padding: 30px;
        margin: 10px;
        background-color: lightslategray;
        border-radius: 12px;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
        width: 320px;
    }
   .display {
        width: 100%;
        height: 60px;
        font-size: 24px;
        text-align: left;
        padding: 10px;
        margin-bottom: 15px;
        border: 2px solid #ddd;
        border-radius: 8px;
        box-sizing: border-box;
        /* cursor: pointer; */
    }
    
    .buttons {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }
    button {
        margin: 3px;
        padding: 8px;
        font-size: 20px;
        border: none;
        border-radius: 60px;
        background: #179fdf;
        color: rgb(156, 238, 16);
        box-shadow: -10px -5px 10px;
        cursor: pointer;
        transition: 0.2s;
    }
    button:hover { 
        background: #c10515; }
    .operator { 
        background: #ffa500; color: white; }
    .equal {
         background: #28a745; color: white; grid-column: span 2; }
    .clear {
         background: #dc3545; color: white; }
